header{
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 5;
  font-family: Calibri;
  color: white;
}


.image {
  height: 700px;
  background-image: url("https://snowman-wallpapers.com/images/Space-Wallpaper-4k-On-Wallpaper-Hd-9.jpg	");
  background-size: cover;
}

.welcome{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  color: white;
}
